<a class="back-to-collection" routerLink="/dashboard">< Back to Collection</a>

<h1 class="page-title">Search from Nasa</h1>

<input class="search-input" type="text" placeholder="Type something to search" #searchInput (input)="search(searchInput.value)"/>
<p class="result-description" *ngIf="nasaSearchCollection$ | async">{{(nasaSearchCollection$ | async)?.length || 0}} result from "{{searchInput.value}}"</p>

<div class="collection-container" *ngIf="nasaSearchCollection$ | async">
  <div *ngFor="let nasaItem of nasaSearchCollection$ | async" class="collection-item">
    <img class="image" src="{{nasaItem.thumbnailUrl}}" alt="{{nasaItem.title}}-thumbnail" (click)="openReviewModal(nasaItem)"/>
    <p class="author">{{nasaItem.author}}</p>
    <p class="date">{{nasaItem.date}}</p>
    <h2 class="title">{{nasaItem.title}}</h2>
    <p class="description">{{nasaItem.description}}</p>
    <button class="button add" (click)="openAddModal(nasaItem)">Add to collection</button>
  </div>
</div>

<div *ngIf="reviewingNasaItem" class="reviewing modal">
  <div class="modal-background">
    <h2 class="modal-title">{{reviewingNasaItem.title}}</h2>
    <img class="image" src="{{reviewingNasaItem.thumbnailUrl}}" alt="{{reviewingNasaItem.title}}-thumbnail"/>
    <button class="button close" (click)="closeReviewModal()">Close</button>
  </div>
</div>

<div *ngIf="addingNasaItem" class="adding modal">
  <div class="modal-background">
    <h2 class="title">Add to collection</h2>

    <form>
      <label for="title">Title</label>
      <input id="title" name="title"
             [(ngModel)]="addingNasaItem.title" type="text"/>

      <label for="description">Description</label>
      <input id="description" name="description"
             [(ngModel)]="addingNasaItem.description" type="text"/>

      <label>Type</label>
      <select>
        <option>Image</option>
      </select>

      <label class="required" for="thumbnail-url">Link preview image url</label>
      <input id="thumbnail-url" name="thumbnail-url" type="text"
             [(ngModel)]="addingNasaItem.thumbnailUrl" required #mediaThumbnailUrl = "ngModel"/>

      <label class="required" for="video-url">Link file url</label>
      <input id="video-url" name="video-url" type="text"
             [(ngModel)]="addingNasaItem.videoUrl" required #videoUrl = "ngModel"/>
    </form>

    <button class="button add" [disabled]="!mediaThumbnailUrl.valid || !videoUrl.valid"
            (click)="addNasaItemToCollection(addingNasaItem)">Add to collection</button>
    <button class="button close" (click)="closeAddModal()">Close</button>
  </div>
</div>

